/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
.container {
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

a:hover, a:focus {
    cursor: pointer;
    color: #000;
}

.overlay {
    overflow: hidden;
}
.overlay::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

/* header  */
.logo {
    height: 70px;
    border-right: solid 1px #E5E5E5;
    padding-right: 20px;
    margin-top: 10px;
}

/* menu */
nav {
    margin: 40px 0;
}
nav li {
    display: inline;
    margin-right: 16px;
}
nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #9F9F9F;
}

/* hero */
.hero {
    height: 500px;
    border-radius: 16px;
    position: relative;

    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center center;
}
.hero-text {
    position: absolute;
    left: 50px;
    bottom: 70px;
    color: #fff;
}

/* content section  */
.section-header {
    margin: 40px 0;
}

/* columns */
.col-left, .col-center, .col-right {
    float: left;
}
.col-left, .col-right {
    width: 20%;
}
.col-center {
    width: calc(60% - 40px);
    margin: 0 20px;
}


/* columns img  */
.col-img {
    position: relative;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 16px;
}

.col-left .col-img{
    background-image: url("../img/img-1.jpg");
    background-size: cover;
    background-position: center center;
}
.col-center .col-img{
    background-image: url("../img/banner-2.jpg");
    background-size: cover;
    background-position: center center;
}
.col-right .col-img{
    background-image: url("../img/img-3.jpg");
    background-size: cover;
    background-position: center center;
}