/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
.container {
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

a:hover, a:focus {
    cursor: pointer;
    color: #000;
}

/* header  */
.logo {
    height: 70px;
    border-right: solid 1px #E5E5E5;
    padding-right: 20px;
    margin-top: 10px;
}

/* menu */
nav {
    margin: 40px 0;
}
nav li {
    display: inline;
    margin-right: 16px;
}
nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #9F9F9F;
}

/* columns */
.col-left, .col-center, .col-right {
    float: left;

}

.col-left, .col-right {
    width: calc(25% - (40px / 3));
}

.col-center {
    width: calc(50% - (40px / 3));
    margin: 0 20px;
}