/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
.container {
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}




.col-left, .col-center, .col-right {
    float: left;

}

.col-left, .col-right {
    width: calc(25% - (40px / 3));
}

.col-center {
    width: calc(50% - (40px / 3));
    margin: 0 20px;
}